@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;


body {
    background-color: var(--bg-color);

    @include bp.breakpointMin(medium-screen) {
        --bg-color: hsl(0, 0%, 98%);
    }
}

main {
    margin-inline: auto;
    width: min(100%, f.rem(1350));
    margin-bottom: f.rem(100);

    @include bp.breakpointMin(medium-screen) {
        flex-direction: row-reverse;
    }
}

.img-container {
    // width: min(100%, f.rem(1000));
    transform: translateX(-100px);
}

section.head {
    text-align: center;
    padding: f.rem(32) f.rem(12);

    h1 {
        font-size: f.rem(32);
        color: var(--almost-black);
        margin-bottom: f.rem(16);
    }

    p {
        color: var(--medium-gray);
        margin-bottom: f.rem(32);
    }

    button {
        background-color: var(--almost-black);
        padding: f.rem(12) f.rem(24);
        border-radius: f.rem(16);
        transition: background-color .3s ease-in;
        border: 2px solid var(--almost-black);

        a {
            color: white;
        }

        &:hover {
            background-color: transparent;

            a {
                color: var(--almost-black);
                font-weight: 700;
            }
        }
    }

    @include bp.breakpointMin(medium-screen) {
        text-align: left;
        width: min(100%, f.rem(450));
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: f.rem(64);

        h1 {
            font-size: f.rem(64);
            margin-bottom: f.rem(36);
        }

        p {
            margin-bottom: f.rem(64);
        }

        button {
            width: 40%;
        }
    }
}

.client {
    width: min(100%, f.rem(1000));
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: f.rem(24);

    img {
        width: 60px;
    }

    @include bp.breakpointMin(medium-screen) {
        padding: f.rem(16);
        justify-content: start;
        gap: f.rem(64);

        img {
            width: 80px;
        }
    }
}